.primeFont(){
    font-family: 'ProximaNova-Regular';
    font-weight: 400;
}
.primeFont-semi-bold(){
    font-family: 'ProximaNova-Semibold';
}
html body{
    .primeFont();
}
body .ui.list .list>.item .header, body .ui.list>.item .header{
    .primeFont();
}

body{
    .settingsTab .tabular.menu.ui.vertical .item.active,.ui.secondary.pointing.menu .active.item{
        font-family: 'ProximaNova-Semibold';
    }
    .changeImageWraper .subHead{
        font-family: 'ProximaNova-Semibold';
    }
    .ui.form .field>label{
        font-family: 'ProximaNova-Semibold';
    }
    .bold{
        font-family: 'ProximaNova-Semibold';
    }
    button, input, optgroup, select, textarea{
        .primeFont();
    }
    .ui.menu{
        .primeFont();
    }
    h1, h2, h3, h4, h5{
        .primeFont-semi-bold();
    }
    .ui.table thead th{
        .primeFont-semi-bold();
    }
    .ui.header{
        .primeFont-semi-bold();
    }
    .ui.card>.content>.header{
        .primeFont();
    }
    .ui.cards>.card>.content>.header{
        .primeFont();
    }
    .ui.button{
        .primeFont-semi-bold();
        font-weight: unset;
    }
    .ui.popup>.header{
        .primeFont();
    }
    .ui.modal>.header{
        .primeFont();
    }
    .ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url]{
        .primeFont();
    }
    .ui.accordion .title:not(.ui){
        .primeFont();
    }
}
