.scroll-table{
  max-width: 600px;
  overflow-x:scroll;
  margin-left:120px;
  overflow-y:visible;
  padding-bottom:1px;
  .table{
    &.table-bordered{
      &.left-col-fix{
        th{
          border-bottom: 1px solid #dee2e6;
        }
      }
    }
    &.left-col-fix{
      th{
        border-bottom: 0px solid transparent;
        &.fixed-col{
          position:absolute;
          width:120px;
          left:20px;
          top:auto;
          border-right: 0px none black;
          border-top-width:1px;
          margin-top:-1px;
        }
      }
      td{
        min-width: 100px;
        border-bottom: 0px solid #ccc;
      }
    }
  }
}
