@import "_mixins.less";
//@import "../fonts/proximanova/font.css";
.CampaignWapper{
    .CampaigBanner{
        min-height     : 240px;
        height         : 240px;
        background-size: cover;
        margin-bottom  : 20px;
        border-radius  : 5px;
        @media only screen and (max-width:768px){
            border-radius  :unset;
        }
    }
}
.boxcard{
    background-color: #fff;
    padding: 16px 0px 14px 0px;
    width: calc(100% - 130px);
    display: inline-block;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.16);
    border-radius: 5px;
    text-align: center;
    @media only screen and (max-width:1199px){
        width: calc(100% - 119px);
    }
    @media only screen and (max-width:991px){
        width:100% ;
        margin-bottom: 15px;
    }
    @media only screen and (max-width:767px){
        width:48%;
    }
    @media only screen and (max-width:420px){
        width:47%;
    }
    >i{
        &.icon{
            &.group{
                margin:16px 0px 22px 0px;
                &::before{
                    content: url(../images/icons/group.svg);
                    .imgColorIconGrey();
                  }
            }
            &.privacy{
                margin:16px 0px 22px 0px;
                &::before{
                    content: url(../images/icons/give-hand.svg);
                    .imgColorIconGrey();
                  }
            }
        }
    }
}
.supportingWithsearch{
    h3 {
        &.ui {
            &.header {
                font-size: 20px;
                color    : #263238;
                line-height: 24px;
                margin: 33px 0px 30px 0px!important;
            }
        }
    }
}
/******/
.campaignSearchBanner{
    &.search-banner{
        padding:0px;
        .searchbox{
            .ui.fluid.input > input{
                height: 40px !important;
            }
            .search-btn{
                &.campaignSearch{
                    display: flex;
                    padding: 0px;
                    align-items: center;
                    justify-content: center;
                    right: 18px;
                    height: 30px;
                    width: 30px;
                    top: 5px;
                    .search{
                        &.icon{
                            width: auto;
                            height: auto;
                            &::before{
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.supportingcardWapper{
    margin: 30px 0px;
    .custom_Grid{
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: flex;
        .col-sm-6{
            width: 100%;
            @media only screen and (min-width: 992px){
                &:nth-child(odd){
                    padding-right: 20px;
                }
            }
            @media only screen and (min-width: 992px){
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
    .campaignCard{
      //max-height: 145px;
       border: 1px solid #DEDEDE;
       display: flex;
        border-radius: 4px;
        padding:10px;
        margin: 0px 0px 18px 0px;
        @media only screen and (max-width: 991px){
        max-width: 377px;
        }
        @media only screen and (max-width: 767px){
            margin: 0px auto 18px;
        }
        .CardProfile{
            max-width: 85px;
            margin-right: 14px;
            img{
            height: 85px;
            width: 85px;
            border-radius: 4px;
            object-fit: cover;
            }
        }
        .CardgiveGroupDetails{
            h4 {
                &.ui {
                    &.header {
                        font-size: 10px;
                        line-height   : 12px;
                        color    :#009EA2;
                        margin:0px 0px 5px 0px;
                    }
                }
            }
            h2{
                &.ui {
                    &.header {
                        font-size: 14px;
                        max-width: 200px;
                        line-height   : 22px;
                        color    :#263238;
                        font-weight: 600;
                        margin: 0;
                    }
                }
            }
            p{
                font-size: 14px;
                line-height: 21px;
                margin: 0px;
                color    :#263238;
                font-family: 'ProximaNova-Regular';
            }
        }
    }
}
.success-btn-rounded-def{
    &.btnboxWidth{
        width: 100%;
        padding:10px 0px !important;
        font-weight: 600;
    }
}
.supportingcardShowMore{
    margin: 30px 0px 100px 0px;
    text-align: center;
    @media only screen and (max-width:992px){
        margin: 30px 0px 50px 0px;
    }
    .btnMore{
        font-weight: 600;
    }
}
.ch_profileDetails{
    .CampaignBtn{
        padding:10px 30px;
        font-weight: 600;
        @media only screen and (max-width:1199px){
        padding: 10px 16px;
        }
        @media only screen and (max-width:992px){
            padding:10px 30px;
        }
        span{
            >i{
                &.icon{
                    &.edit{
                        position: relative;
                        &::before{
                          content: "";
                          background-image:url(../images/icons/edit.svg) !important;
                          .imgColorBlue();
                          position: absolute;
                          width:19px;
                          height: 19px;
                          background-size:cover !important;
                          background-repeat:no-repeat !important;
                          left: -6px;
                        }
                      }
                    &.bell{
                        position: relative;
                        &::before{
                            content: "";
                            background-image:url(../images/icons/give-hand.svg) !important;
                            .imgColorBlue();
                            position: absolute;
                            width:19px;
                            height: 19px;
                            background-size:cover !important;
                            background-repeat:no-repeat !important;
                            left: -6px;
                          }
                    }
                }
            }
        }
    }
}
.mt-4{
    margin-top: 60px !important;
  }

.MyGallery{
    .videoWrapper{
        embed{
            width:100%;
        }
    }
    .OneGrProfileImg{
        img{
            &.ui{
              &.image{
                width:100%;
                object-fit: cover;
                max-height: 441px;
              }
            }
        }
    }
}

