@import "_mixins.less";
//@import "../fonts/proximanova/font.css";
.CampaignWapper{
    .CampaigBanner{
        min-height     : 240px;
        height         : 240px;
        background-size: 100% 100% !important;
        margin-bottom  : 20px;
        border-radius  : 5px;
        @media only screen and (max-width:768px){
            border-radius  :unset;
        }
    }
}
.boxcardWrapper{
    display: flex;
    .boxcard{
        background-color: #fff;
        padding: 16px 0px 16px 0px;
        display: inline-block;
        box-shadow: 0 2px 8px 0 rgba(0,0,0,0.16);
        border-radius: 5px;
        text-align: center;
        width: 100%;
        &:first-child{
            margin-right: 13px;
        }
        >i{
            &.icon{
                &.group{
                    margin:0px 14px 18px 0px;
                    &::before{
                        content: "";
                        background-image: url(../images/icons/group.svg) !important;
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        .imgColorIconGrey();
                        height: 21.24px;
                        width: 29.21px;
                        display: inline-block;
                      }
                }
                &.privacy{
                    margin:0px 0px 18px 0px;
                    align-items: center;
                    &::before{
                        content: "";
                        background-image: url(../images/icons/give-hand.svg) !important;
                        background-size: contain !important;
                        background-repeat: no-repeat !important;
                        background-position: center !important;
                        .imgColorIconGrey();
                        height: 24px;
                        width: 24px;
                        display: inline-block;
                      }
                }
            }
        }
    }
}
.supportingWithsearch{
    h3 {
        &.ui {
            &.header {
                font-size: 20px;
                color    : #263238;
                line-height: 24px;
                margin: 40px 0px 30px 0px!important;
            }
        }
    }
}
/******/
.campaignSearchBanner{
    &.search-banner{
        padding:0px;
        .searchbox{
            .ui.fluid.input > input{
                height: 40px !important;
                &::placeholder{
                    color:#263238;
                }
            }
            .search-btn{
                &.campaignSearch{
                    display: flex;
                    padding: 0px;
                    align-items: center;
                    justify-content: center;
                    right: 18px;
                    height: 30px;
                    width: 30px;
                    top: 5px;
                   a{
                       display: flex;
                       align-items: center;
                       justify-content: center;
                    .search{
                        &.icon{
                            width: auto;
                            height: auto;
                            &::before{
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                   }
                }
            }
        }
    }
}
.supportingcardWapper{
    margin: 30px 0px;
    .noResult{
        font-size: 14px;
        line-height: 22px;
        color: #263238;
        padding-right: 10px;padding-left: 10px;
    }
    .custom_Grid{
        display: -ms-flexbox;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: flex;
        margin-right: -10px;
        margin-left: -10px;
        >div{
            padding-right: 10px;padding-left: 10px;
        }
        .col-sm-6{
            width: 100%;
            padding-right: 10px;padding-left: 10px;
            @media only screen and (min-width: 992px){
                -ms-flex: 0 0 50%;
                flex: 0 0 50%;
                max-width: 50%;
            }
        }
    }
    .campaignCard{
        min-height: 145px;
       cursor: pointer;
       max-height: 145px;
       border: 1px solid #DEDEDE;
       display: flex;
        border-radius: 4px;
        padding:10px;
        margin: 18px 0px;
        @media only screen and (max-width: 991px){
            max-width:100%;
            width: 100%;
            margin: 0px auto 18px;
        }
        @media only screen and (max-width: 767px){
            margin: 0px auto 18px;
            max-width: 377px;
        }
        @media only screen and (max-width:500px){
            margin: 0px auto 18px;
            max-width:100%;
        }
        .CardProfile{
            max-width: 85px;
            margin-right: 14px;
            img{
            height: 85px;
            width: 85px;
            border-radius: 4px;
            object-fit: cover;
            max-width:85px;
            }
        }
        .CardgiveGroupDetails{
            max-width: 223px;
            width: 100%;
            overflow: hidden;
            h4 {
                &.ui {
                    &.header {
                        font-size: 10px;
                        line-height   : 12px;
                        color    :#009EA2;
                        margin:0px 0px 5px 0px;
                    }
                }
            }
            h2{
                &.ui {
                    &.header {
                        font-size: 14px;
                        max-width: 200px;
                        line-height   : 22px;
                        color    :#263238;
                        font-weight: 600;
                        margin: 0;
                    }
                }
            }
            p{
                font-size: 14px;
                line-height: 21px;
                margin: 0px;
                color    :#263238;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}
.success-btn-rounded-def{
    &.btnboxWidth{
        width: 100%;
        padding:10px 0px !important;
        font-weight: 600;
        height:40px;
    }
}
.supportingcardShowMore{
    margin: 30px 0px 100px 0px;
    text-align: center;
    @media only screen and (max-width:991px){
        margin: 30px 0px 50px 0px;
    }
    .btnMore{
        font-weight: 600;
    }
}
.supportingMatchHistory {
    margin: 10px 0px 8px 0px;
    text-align: center;
    @media only screen and (max-width:991px){
        margin: 10px 0px 8px 0px;
    }
    .btnMore{
        font-weight: 600;
    }
}
.show_match{
    text-align: center;
    margin: 4px 0px 90px 0px;
    p{
        color: #2A3940;
        font-family: 'ProximaNova-Regular';
        font-size: 14px;
        letter-spacing: 0;
        line-height: 25px;
    }
    @media only screen and (max-width:768px){
        margin: 4px 0px 50px 0px;
    }
}
.hide_match{
    text-align: center; 
}
.mt-4{
    margin-top: 60px !important;
  }
  .campaignsBtn{
      height: 40px;
  }
  .campaignProfileSubheading{
      margin-top:15px;
      margin-bottom: 32px;
      p{
        font-size:14px;
        font-family: 'ProximaNova-Regular';
        line-height: 17px;
        color: #263238;
      }
  }