@import "_colors.less";
@import "_variables.less";
.n-c-global-footer{
  &.ui{
    &.segment{
      background-color: @footerBg;
      padding: 50/@rem 0/@rem;
      margin-bottom: 0/@rem;
      box-shadow: none;
      border-radius: 0rem;
      margin-top: 0px;
      .footer-top{
        h3{
          color: @grey-darken-4;
          font-weight: bold;
          margin: 0/@rem;
          &.purple{
            color: @purple;
          }
        }
        .ui{
          &.input{
            &.rounded-input{
              input{
                height: 40/@rem;	
                min-width: 316/@rem;	
                border: 1/@rem solid @card-border;	
                border-radius: 22/@rem;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                  color: #888888;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                  color: #888888;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                  color: #888888;
                }
                &:-moz-placeholder { /* Firefox 18- */
                  color: #888888;
                }
              }
            }
          }
          &.button{
            &.white-btn-round{
              //height: 41/@rem;	
              //width: 160/@rem;
              font-weight: 400;
              padding: 11/@rem 40/@rem;	
              border: 1/@rem solid @card-border;	
              border-radius: 20.5/@rem;
              background-color: #fff;
              color: @blueButton;
              font-size: 18/@rem;
            }
          }
        }
        .footer-subscribe{
          float: right;
        }
      }
      .footer-middle{
        .footer-main-links{
          margin-bottom: 3rem;
        }
        h4{
          &.ui{
            &.header{
              color: @grey-darken-3;
              a{
                color: @grey-darken-4;
              }
            }
          }
        }
        .ui{
          &.link{
            &.list{
              margin-bottom: 3rem;
              .item{
                color: @grey-darken-4;
                margin-bottom: 10/@rem;
              }
            }
          }
        }
      }
      .copy-right{
        .ui{
          &.horizontal{
            &.list{
              .disabled{
                &.item{
                  color: @grey-darken-3 !important;
                }
              }
              &.right{
                .item{
                  color: @purple-dark;
                  font-size: 14/@rem;
                  font-weight: 600;
                  margin-left: 4em;
                }
              }
            }
          }
        }
      }
    }
  }
}
.footer-social{
  .item{
    .icon{
      font-size: 26/@rem;
    }
  }
}
.c-global-footer{
  border-top: 1/@rem solid rgba(34,36,38,.15) !important;
}
@media only screen and (min-width:767px) and (max-width:991px) {
  .n-c-global-footer{
    &.ui{
      &.segment{
        .footer-top{
          .footer-subscribe{
            float: none;
          }
          h3{
            &.purple{
            }
          }
          .ui{
            &.input{
              &.rounded-input{
                input{
                  width: auto;
                  min-width: 250/@rem;
                }
              }
            }
            &.button{
              &.white-btn-round{
                width: 8rem;
                padding: 0.6875rem 0.5rem;
                text-align: center;
              }
            }
          }
          
        }
      }
    }
  }
}
@media only screen and (max-width:767px) {
  .n-c-global-footer{
    &.ui{
      &.segment{
        .footer-top{
          text-align: center;
          h3{
            text-align: center;
            &.purple{
              margin-bottom: 30/@rem;
            }
          }
          .footer-subscribe{
            float: none;
            .inline{
              &.field{
                text-align: center;
              }
            }
          }
          .ui{
            &.input{
              &.rounded-input{
                input{
                  width: auto;
                  min-width: auto;
                }
              }
            }
            &.button{
              &.white-btn-round{
                width: auto;
              }
            }
          }
        }
        .copy-right{
          .ui{
            &.horizontal{
              &.list{
                display: block;
                text-align:center;
                .disabled{
                  &.item{
                    
                  }
                }
                &.right{
                  float: none;
                  margin: 1rem auto 0rem;
                  text-align: center;
                  display: table;
                  .item{
                    color: @purple-dark;
                    font-size: 14/@rem;
                    font-weight: 600;
                    margin-left: 4em;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}