@import "_mixins.less";
.flowSuccess{
    @media only screen and (min-width: 1199px){
        min-height: 685px;
    }
    .flowSuccessImg{
        margin-top: 70px;
     img{
        margin-bottom: 40px;
        @media only screen and (max-width:767px) {
            width: 180px;
        }
     }
    }
    .flowSuccessImgHeading{
        min-width: 700px;
        margin: auto;
        @media only screen and (max-width:767px) {
            min-width: 100%;
            padding-right: 30px;
            padding-left: 30px;
        }
       h4{
        &.ui{
            &.aligned{
                &.header{
                   font-size: 24px;
                   line-height: 29px;
                   color: #263238;
                   font-family: 'ProximaNova-Regular';
                   font-weight: 600;
                 
                }
            }
        }
       }
       .sub{
        max-width: 564px;
        margin: auto;
     p{
         font-size: 16px;
         line-height: 20px;
         color: #333333;
         font-family: 'ProximaNova-Regular';
         max-width: 550px;
         width: 100%;
         margin:30px auto;
         text-align: center;
     }
    } 
    }
   
    button{
        &.flowConfirmBtn{
            &.ui{
                &.button{
                    max-width: 268px;
                    width: 100%;
                    margin: 0px auto 20px !important;
                    text-align: center;
                    display: block;
                }
            }
        }
    }
}
.flowPadding{
    padding-top: 40px;
}

.ui{
    &.table{
        &.no_shadow_tbl_mob{
            tbody{
                tr{
                    @media only screen and (max-width:767px) {
                        box-shadow: none !important;
                    } 
                }
            }
        }
        tbody{
            tr{
                td{
                    &.mobile-text-right{
                        @media only screen and (max-width:767px) {
                            display: inline-block !important;
                            width: 48% !important; 
                         } 
                     }
                }
                 .mobile-text-left{
                    &.tableOne{
                        @media only screen and (max-width:767px) {
                            display: inline-block !important;
                            width: 48% !important; 
                         } 
                    } 
                 }
                &.mob_brdr_btm_none{
                    .mob_btn_edit{
                        @media only screen and (max-width:767px) {
                            display: block;
                            margin:15px auto;
                        }
                    }
                    .width-full-btn{
                        float: right;
                        &.w-120{
                            @media only screen and (max-width:767px) {
                                width: 100% !important;
                                max-width: 335px;
                                min-width: auto;
                                float: none;
                             }
                        }
                    }
                    @media only screen and (max-width:767px) {
                        border-bottom: 0px solid transparent !important;
                        box-shadow: none !important;
                    } 
                }
            }
        }
        
    }
}


.flowBreadcrumb{
    @media only screen and (max-width:767px) {
        text-align: center !important;
    }
    &::after{
        content: '';
        display: table;
        clear: both;
    }
    .ui{
        &.breadcrumb{
            float: right;
            &::after{
                content: '';
                display: table;
                clear: both;
            }
            @media only screen and (max-width:767px) {
                float: none;
                text-align: center !important;
            }
            i{
                &.right{
                    &.chevron{
                        &.icon{
                            &.divider{
                                position: relative;
                                
                                &::before{
                                    content: '';
                                    position: absolute;
                                    top: -2px;
                                    left: 0;
                                    right: 0;
                                    bottom: 0;
                                    width: 12px;
                                    height: 16px;
                                    background-image: url(../images/icons/icon-arrow-down.svg) !important;
                                    background-size: contain !important;
                                    background-repeat: no-repeat !important;
                                    background-position: center !important;
                                    transform: rotate(-90deg);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/***********flowReviewbanner********/
.givinggroupbanner{
    background-image: url(../images/banner-add_money_give_flows-green.png)!important;
    background-size:cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 152px;
    margin-top: 3px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width:768px) {
        height: 55px;
        margin-top:1px;
    }
    .flowReviewbannerText{
        @media only screen and (min-width:768px) {
            text-align: left;
        }
        @media only screen and (max-width:767px) {
            text-align: center !important;
        }
        h2{
            &.ui{
                &.header{
                  font-size: 24px;
                  color: #263238;
                  font-family: 'ProximaNova-Regular';
                  font-weight: 600;
                  @media only screen and (max-width:768px) {
                    font-size: 17px;  
                  }
                }
            }
        } 
    }
}
/*******/
.charityallocationbanner{
    background-image: url(../images/banner-add_money_give_flows-yellow.png)!important;
    background-size:cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 152px;
    margin-top: 3px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width:768px) {
        height: 55px;
        margin-top:1px;
    }
    .flowReviewbannerText{
        @media only screen and (min-width:768px) {
            text-align: left;
        }
        @media only screen and (max-width:767px) {
            text-align: center !important;
        }
        h2{
            &.ui{
                &.header{
                  font-size: 24px;
                  color: #263238;
                  font-family: 'ProximaNova-Regular';
                  font-weight: 600;
                  @media only screen and (max-width:768px) {
                    font-size: 17px;  
                  }
                }
            }
        } 
    }
}
/*****/
.flowReviewbanner{
    background-image: url(../images/banner-add_money_give_flows-blue.png)!important;
    background-size:cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    width: 100%;
    height: 152px;
    margin-top: 3px;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    @media only screen and (max-width:768px) {
        height: 55px;
        margin-top:1px;
    }
    .flowReviewbannerText{
        @media only screen and (min-width:768px) {
            text-align: left;
        }
        @media only screen and (max-width:767px) {
            text-align: center !important;
        }
        h2{
            &.ui{
                &.header{
                  font-size: 24px;
                  color: #263238;
                  font-family: 'ProximaNova-Regular';
                  font-weight: 600;
                  @media only screen and (max-width:768px) {
                    font-size: 17px;  
                  }
                }
            }
        } 
    }
}
.flowReview{
    margin-bottom:20px;
    .ui.centered.grid > .row > .column:not(.aligned):not(.justified){
        @media only screen and (max-width:767px) {
            text-align: left !important;
            -webkit-box-pack: left !important;
            -ms-flex-pack: left !important;
            justify-content: left !important;
        } 
    }
    .ui.centered.grid, .ui.centered.grid>.row, .ui.grid>.centered.row {
        @media only screen and (max-width:767px) {
            text-align: left !important;
            -webkit-box-pack: left !important;
            -ms-flex-pack: left !important;
            justify-content: left !important;
        }
    }
    .GivingGroupIcons{
        margin:20px auto 24px auto;
        text-align: center;
        img{
            &.Icon_Profile{
                width:98px;
                height: 98px;
                border-radius: 100px;
                border:6px solid #F5F8FC;
                box-shadow: 2px 2px 7px 0 rgba(105,146,203,0.3);
            }
        }
        .ui{
            &.header{
                font-size: 24px;
                color: #263238;
                font-family: 'ProximaNova-Regular';
                font-weight: 600;
                .sub{
                  &.header{
                    font-size: 17px;
                    color: #263238;
                    font-family: 'ProximaNova-Regular';
                    font-weight: 600;
                    margin-top:10px;
                  }  
                } 
            }
        }
  
    }
 .GiveTable{
     .ui{
         &.very{
             &.basic{
                 &.table{
                     border-top: 1px solid rgba(34,36,38,.1);
                     border-radius: 0px;
                     margin-bottom: 0px;
                    tbody{
                         tr{
                            td{
                                &.tableOne{
                                    word-break: break-word;
                                    @media only screen and (min-width:768px) {
                                        width: 220px !important;
                                        padding: 29px 4px 29px 0px;
                                        vertical-align: top;
                                        word-break: break-word;
                                    }
                                }
                                &.tabletwo{
                                    word-break: break-word;
                                    @media only screen and (min-width:768px) {
                                        padding: 29px 4px 29px 0px;
                                        vertical-align: top;
                                        word-break: break-word;
                                    }
                                }
                                &.transaction-text{
                                    font-size: 12px;
                                    color: #263238;
                                }
                            }
                         }
                     }
                 }
             }
         }
     }
 }
}


/***********flowReviewbanner*close*******/ 
.flowBreadcrumb{
    &.flowPadding{
        .ui{
            &.breadcrumb{
            margin-right: -18px;
             a{
             
                &.section{
                    color: #BBBBBB;
                    font-size: 14px;
                    line-height: 21px;
                    font-family: 'ProximaNova-Regular';
                    font-weight: 600;
                }
             }
            }
        } 
    }
    .ui.breadcrumb .section{
        font-size: 14px;
        font-family: 'ProximaNova-Regular';
        padding-left: 8px;
        padding-right: 8px;
       color: #7F7F7F !important;
       &.completed_step{
        color: #263238 !important;
       }
    }
}
.ui.breadcrumb .active.section{
    color: #90459A !important;
    font-size: 14px;
    line-height: 21px;
    font-family: 'ProximaNova-Regular';
    font-weight: 600;
}

/*###################### Naveen #########################*/
.btn-basic-outline{
    &.ui{
        &.button{
            background-color: transparent;
            border: 1px solid #ddd;
            border-radius: 5px;
            &.small{
                height: 30px;
                padding-top: 9px !important;
                padding-bottom: 8px;
            }
            &:hover,&:focus{
                background-color: #F1F6FD;
            }
        }
    }
}
.font-w-n{
    &.ui{
        &.radio{
            label{
                font-weight: normal;
            }
        }
    }
}
.chimpRadio{
    &.ui{
        &.radio{
            input:checked~label:before {
                border: 1px solid #BBBBBB;
            }
            input:checked~label:after {
                background-color: @blueButton !important;
            }
            input{
                +label{
                    &::before{
                        border: 1px solid #BBBBBB;
                    }
                }
            }
        }
    }
}
.addNewCardInput{
    height: 40px;
    border: 1px solid #DDDDDD;	
    border-radius: 5px;	
    background-color: #FFFFFF;
    color: #055CE5;	
    font-size: 14px;
    cursor: pointer;
    padding: 10px 15px;
}
.flowFirst{
    .ui{
        &.form{
            >.grid{
                width: 100%;
                label{
                    font-size: 14px !important;
                    margin-right: 6px;
                    padding-right: 0.35714286em ! important;
                }
            }
        }
    }
    .btn-basic-outline{
        &.btntext{
            color: #263238;
        }
    }
    h3{
        &.ui{
            &.header{
                font-size: 14px !important;
                line-height: 17px;
                color:#263238;
                font-weight: 600 !important;
                font-family: 'ProximaNova-Regular';
                margin-top:0px;
            }
        }
    }
    input{
        &::placeholder{
            color: #7F7F7F !important;
        }
    }
    .default.text{
        color: #7F7F7F !important;
    }
    textarea {
        
        &::placeholder{
            color: #7F7F7F !important;
        }
    }
    .ui[class*="left icon"].input>input{
        padding-left: 1em!important;
        font-size: 14px !important;
        padding-right: 1em!important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;
    }
    .ui[class*="left icon"].input>i.icon {
        right: auto;
        left: 5px;
        border-radius: .28571429rem 0 0 .28571429rem;
        font-size: 14px;
        top: -1px;
        color: #000 !important;
        font-weight: normal !important;
    }
    .coverFeeLabel{
        font-size: 12px !important;
        color: #263238 ;
        line-height: 15px;
        margin-top: 15px;
    }
    .give_field{
        margin-bottom: 20px !important;
    }
    .give_flow_field{
        margin-top:44px !important;
    }
    .give_flow_field_bottom{
        margin-bottom:44px !important;
    }
    .with-info{
        textarea{
           min-height: 125px !important;
        }
    }
}
.Frequencybottom{
    margin-bottom: 0px !important;
}
.addCreditCardBtn{
    width: 126px;
    height: 40px;
}
.tickCheckBox{
    &.ui{
        &.checkbox{
            &.font-w-n{
                label{
                    font-weight: normal;
                }
            }
            input:checked~label:before {
                border: 1px solid #BBBBBB;
                color: #fff;
                border-radius: 100%;
            }
            input:checked~label:after {
                background-color: @blueButton !important;
                color: #fff;
                border-radius: 100%;
                &:focus{
                    color: #fff !important;
                }
            }
            input{
                +label{
                    &::before{
                        border: 1px solid #BBBBBB;
                        border-radius: 100%;
                    }
                    &::after{
                        color: #fff !important;
                    }
                }
            }
        }
    }
}
.paymentMethodDropdown{
    .ui{
        &.button{
            &.dropdown{
                &.active{
                    &::before{
                        filter: brightness(0) invert(1);
                        z-index: 99;
                        transform: rotate(180deg);
                    }
                    .menu{
                        .item{
                            &.selected{
                                background-color: #055CE5;
                                color: #fff;
                                border-color: #055CE5;
                                .image{
                                    &.ui{
                                        //filter: brightness(0) invert(1);
                                    }
                                }
                            }
                        }
                    }
                }
                &::before{
                    content: '';
                    background-image: url(../images/icons/icon-arrow-down.svg);
                    height: 7px;
                    width: 13.5px;
                    position: absolute;
                    right: 10px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    transition: all 0.3s ease-out;
                    top:40%;
                    filter: invert(79%) sepia(0%) saturate(1%) hue-rotate(277deg) brightness(97%) contrast(87%);
                }
                .default{
                    &.text{
                        color: #ddd;
                    }
                }
                i{
                    &.dropdown{
                        &.icon{
                            &::before{
                                display: none;
                            }
                        }
                    }
                }
                .menu{
                    margin-top: 0px !important;
                    border-color: none;
                    border-radius: 0px 0px .28571429rem!important;
                    a{
                        &.item{
                            color: #055CE5;
                        }
                    }
                    .item{
                        .text{
                            span{
                                line-height: 14px;
                                &:first-child{
                                    display: block;
                                    font-weight: bold;
                                    margin-bottom: 5px;
                                }
                                &:last-child{
                                    display: inline-block;
                                    max-width: 200px;
                                    font-weight: normal;
                                }
                            }
                        }
                        .image{
                            &.ui{
                                width: 32px;
                                height: 18px;
                                vertical-align: middle;
                                object-fit: contain;
                            }
                        }
                    }
                }
                .icon{
                    background-color: transparent !important;
                    &::before{
                        background-position: center !important;
                        background-repeat: no-repeat !important;
                        background-size: contain !important;
                    }
                    &.cardVisa{
                        &::before{
                            content: '';
                            background-image: url(../images/icons/icon-cc-visa-colour.png) !important;
                            left: 10px;
                            width: 31px;
                            height: 11px;
                        }
                    }
                    &.cardMaster{
                        &::before{
                            content: '';
                            background-image: url(../images/icons/icon-cc-mastercard-colour.png) !important;
                            left: 10px;
                            width: 31px;
                            height: 11px;
                        }
                    }
                    &.cardExpress{
                        &::before{
                            content: '';
                            background-image: url(../images/icons/icon-cc-american-express-colour.png) !important;
                            left: 10px;
                            width: 31px;
                            height: 11px;
                        }
                    }
                }
            }
        }
    }
}
.flowFirstBtn{
    &.ui{
        &.button{
            height: 40px;
            width: 126px;
        }
    }
}
.noteDefault{
    border-radius: 4px;	
    background-color: #E3E8F0;
    padding:7px 9px 6px;
    .noteWraper{
        display: list-item;
        table-layout: fixed;
        list-style-type: none;
        list-style-position: outside;
        .leftImg{
            display: inline-block;
            vertical-align: middle!important;
            height: 24px;
            .notifyDefaultIcon{
                display: inline-block;
                width: 23px;
                height: 23px;
                background-color: #fff;
                border-radius: 100%;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 3px;
                    bottom: 3px;
                    margin: auto;
                    background-image: url(../images/icons/exclamation.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
        }
        .noteContent{
            display: inline-block;
            vertical-align: middle!important;
            padding-left: 10px;
            width: calc(100% - 45px);
        }
    }
}
/* ####### 24-01-2010 ######## */
.ui{
    &.button{
        &.selection{
            &.dropdown{
                .text{
                    font-weight: normal;
                    &.default{
                        font-weight: normal;
                    }
                }
            }
        }
    }
    &.error{
        &.dropdown{
            &.selection{
                background-color: #fff !important;
                border-color: #ff0000 !important;
                &::before{
                    filter: invert(16%) sepia(100%) saturate(7215%) hue-rotate(357deg) brightness(103%) contrast(111%);
                }
                .dropdown{
                    &.icon{
                        
                    }
                }
                .text{
                    color: #263238;
                }
            }
        }
    }
}
.ModalWarning{
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    align-items: stretch;
    span{

    }
    .warningContent{
        width: calc(100% - 50px);
    }
}
.errorNote{
    display: inline-block;
    color: #ff0000;
    &.small{
        font-size: 12px;
    }
    .iconRed{
        width: 18px;
        display: inline-block;
        vertical-align: middle;
        padding-right: 10px;
        &::before{
            content: '';
            width: 17px;
            height: 17px;
            display: block;
            background-image: url(../images/icons/red.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.btn_border{
    border-top: 1px solid rgba(0,0,0,.1);
    padding-top: 51px;
    @media only screen and (max-width:767px) {
        border-top: 1px solid transparent;
        padding-top:15px !important;
        .btn_border{
            padding-top:15px !important;
        }
     } 
}
.width-full-btn{
    float: right;
    margin-left: 10px !important;
        @media only screen and (max-width:767px) {
            float: none;
         } 
}
.mob_btn_edit{
    float: right;
        @media only screen and (max-width:767px) {
            float: none;
         }
}
.mobile_text{
    font-size: 12px;
    color: #263238;
    line-height: 15px;
    padding-top: 12px;

    @media only screen and (max-width:767px) {
        text-align: center;
        margin-bottom: 20px;
     } 
}
.mobile_btn{
    @media only screen and (max-width:767px) {
        text-align: center;
        margin-top: 20px !important;
     } 
     button{
        font-weight: 600 !important;
     }
}
.ui.small.button.btn-basic-outline.selected-btn{
    background-color:#F1F6FD;
    color:#263238;
    border:1px silid #DDDDDD;
    font-size: 14;
    font-family: 'ProximaNova-Regular';
    border-radius: 5px;
}
.invisionwidth {
    width: 66px !important;
    height: 31px !important;
    &.active{
        background-color: #F1F6FD!important
    }
}
.dropdownWithArrow {
    position: relative;
    &.active{
        &::before{
            filter: brightness(0) invert(1);
            z-index: 99;
            transform: rotate(180deg);
        }
        .menu{
            .item{
                &.selected{
                    background-color: #055CE5;
                    color: #fff;
                    border-color: #055CE5;
                    .image{
                        &.ui{
                            //filter: brightness(0) invert(1);
                        }
                    }
                }
            }
        }
    }
    &::before{
        content: '';
        background-image: url(../images/icons/icon-arrow-down.svg);
        height: 15px;
        width: 15px;
        position: absolute;
        right: 10px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        transition: all 0.3s ease-out;
        z-index: 2;
        top:14px;
    }
    i{
        display: none;
    }
}
.dropdownWithArrowParent{
    position: relative;
    .ui.selection.dropdown {
        &.active{
            &::after{
                // filter: brightness(0) invert(1);
                z-index: 99;
                transform: rotate(180deg);
            }
            .menu{
                .item{
                    &.selected{
                        background-color: #055CE5;
                        color: #fff;
                        border-color: #055CE5;
                        .image{
                            &.ui{
                                //filter: brightness(0) invert(1);
                            }
                        }
                    }
                }
            }
        }
        &::after{
            content: '';
            background-image: url(../images/icons/icon-arrow-down.svg);
            height: 7px;
            width: 13.5px;
            position: absolute;
            right: 10px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.3s ease-out;
            z-index: 2;
            top:17px;
            filter: invert(79%) sepia(0%) saturate(1%) hue-rotate(277deg) brightness(97%) contrast(87%);
        }
        i{
            display: none;
        }
    }
    .ui.active.visible.search.selection.dropdown {
        padding-left: 46px !important;
        padding-top: 15px;
        &::before{
            content: '';
            position: absolute;
            top: 13px;
            left: 15px;
            right: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
            background-image: url(../images/icons/icon-search.svg) !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            background-position: center !important;
            z-index: 99;
        }
    }
    .ui.selection.active.dropdown{
        border: 1px solid #DDDDDD !important;
      }
      .ui.selection.active.dropdown .menu{
        border: 1px solid #DDDDDD !important;
      }
      .ui.search.dropdown.active>input.search, .ui.search.dropdown.visible>input.search{
        padding-top: 15px;
        padding-left: 46px;
    }
}
.ui.button.fluid.floating.selection.dropdown.taxReceiptDropDown{
    text-align:left;
    &:before{
        top:40%;
    }
}
.ui.button.fluid.floating.selection.dropdown.creditCardDropDown{
    text-align:left;
}
.taxReceiptDropDown >.text >span{
    display:block
}
.ui.button.fluid.floating.labeled.selection.dropdown.dropdownWithArrowParent.icon{

}
.fast_btn{
    max-width: 172px !important;
}
button.ui.button.blue-bordr-btn-round-def.flowConfirmBtn.fast_btn {
    margin-bottom: 40px !important;
    padding: 12px !important;
    font-size: 17px !important;
    font-family: 'ProximaNova-Medium' !important;
}
button.ui.button.blue-btn-rounded-def.flowConfirmBtn.second_btn{
    padding: 12px !important;
    font-size: 17px !important;
    font-family: 'ProximaNova-Medium' !important;
}
.recurringMsg{
    line-height: 12px;
    font-size: 10px;

}
.flowReview{
    .ui.form .field>label{
        &:first-child{
            margin-top: 0px;
        }
        margin-bottom: 14px !important;
        display: inline-block;
        margin-right: 6px;
        font-family:'ProximaNova-Regular';
        font-weight: 600;
    }
}
.to_space{
    margin-top: 0px !important;
    padding-top: 0px !important;
}
.add_space{
    margin-top:40px !important;
}
.label_top{
    margin-top: 10px !important; 
}
.attributes{
    line-height:17px;
}
.btn_right{
    float: right;
}
span.attributes {
    display: block;
    line-height: 17px !important;
}
/*******multyDropDown***********/
.multyDropDownFilter{
    margin-bottom: 10px;
    .ui.multiple.dropdown>.label {
        background-color:#90459A;
        color: #fff;
        border-radius:30px;
        box-shadow: none;
        position: relative;
    }
    .ui.selection.dropdown .menu>.item {
        border-bottom: 1px solid #DDDDDD;
        padding: 18px !important;
    }
    .textFirst{
        display: block;
        font-weight: 600; 
    }
    .secondFirst{
        display: block; 
    }
    span.text {
        display: inline-block;
        line-height: 17px;
    }
    img.ui.avatar.image {
        width: 38px !important;
        min-height: 38px !important;
        margin-top: -3px !important;
    }
    .ui.selection.dropdown.active, .ui.selection.dropdown.visible {
        .ui{
            &.label{
                .textFirst{
                    display: inline-block !important;
                }
                .secondFirst{
                    display: none !important;
                }
            }
        } 
    }
    .ui.fluid.multiple.selection.dropdown{
        .ui{
            &.label{
                .textFirst{
                    display: inline-block !important;
                }
                .secondFirst{
                    display: none !important;
                }
            }
        } 
        
    }
    .ui.selection.dropdown {
        &.active{
            &::after{
                z-index: 99;
                transform: rotate(180deg);
            }
     
        }
        &::after{
            content: '';
            background-image: url(../images/icons/icon-arrow-down.svg);
            height: 15px;
            width: 15px;
            position: absolute;
            right: 10px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.3s ease-out;
            z-index: 2;
            top:15px;
        }
    }
    .ui.multiple.dropdown{
        padding: 8px 6px;
    }
    .ui.dropdown>.dropdown.icon:before {
        content: '' !important;
    }
}
.givingInfoText{
    font-family: 'ProximaNova-Regular';
    font-size: 12px;
    display: block;
    margin-bottom: 15px;
}
.icon.circle.blue.large.question.popupMargin-6{
    margin-left:6px !important;
}
p{
    a{
        &.giveToEmailsText{
            cursor: pointer;
        }
    }
    &.multipleFriendAmountFieldText{
        font-size: 12px;
        margin-bottom: 14px !important;
        margin-top: 14px;
    }
}


/*****multyDropDown*************/

/*******close*********/
.closebtn{
    top: 15px !important;
    right: 15px !important;
    height: 17px;
    width: 17px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    opacity: .8;
    padding: .625rem 0 0 0;
    background-image: url('../images/icons/close.svg') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}
/*****close**********/
.noteDefault-bg{
    background-color: #E3E8F0;
    padding: 21px 35px 21px;
    .noteWraper{
        display: list-item;
        table-layout: fixed;
        list-style-type: none;
        list-style-position: outside;
        .leftImg{
            display: inline-block;
            vertical-align: middle!important;
            height: 24px;
            .notifyDefaultIcon{
                display: inline-block;
                width: 28px;
                height: 28px;
                background-color: #fff;
                border-radius: 100%;
                position: relative;
                &::before{
                    content: '';
                    position: absolute;
                    left: 0px;
                    right: 0px;
                    top: 3px;
                    bottom: 3px;
                    margin: auto;
                    background-image: url(../images/icons/exclamation.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }
        }
        .noteContent{
            display: inline-block;
            vertical-align: middle!important;
            padding-left: 17px;
            width: calc(100% - 45px);
            line-height: 17px;
            .amount-give{
                font-weight: bold;
            }
        }
    }
}
.dottedBorderline{
    border-top: 1px dashed #E7E7F0;
    margin-top: 30px;
    .reviewP2ptext{
        margin-top:30px;
        margin-bottom: 15px;
        @media only screen and (max-width:767px) {
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    @media only screen and (max-width:767px) {
        margin-top:15px !important;
        border: none !important;
    }
}
.amount-table_text{
    font-weight: bold;
    margin-right: 10px;
    @media only screen and (max-width:767px) {
        margin-right:0px !important;
    }
}
.hyperLinks-style{
    color: #055CE5;
    cursor: pointer;
}

/*****Modal for give From group*************/

.field.blue-btn-rounded.btn_right.rivewbtnp2p.blue-btn-rounded button.ui.primary.button {
    min-width:126px !important;
}
.popbox{
    @media only screen and (min-width: 992px){
        Width:562px !important;
    }

} 
.ui.modal>.content>.description {
textarea {  
    &::placeholder{
        color: #7F7F7F !important;
    }
}
.ui[class*="left icon"].input>input{
    padding-left: 2em!important;
        font-size: 14px !important;
        padding-right: 1em!important;
        padding-top: 12px !important;
        padding-bottom: 12px !important;

}
.ui[class*="left icon"].input>i.icon {
    right: auto;
    left: 5px;
    border-radius: .28571429rem 0 0 .28571429rem;
    font-size: 14px;
    top: -1px;
    color: #000 !important;
    font-weight: normal !important;
}
.coverFeeLabel{
    font-size: 12px !important;
    color: #263238 ;
    line-height: 15px;
    margin-top: 15px;
}
input{
    &::placeholder{
        color:#7F7F7F !important;
        font-size: 14px;
    } 
}
#province{
    .default{
        color:#7F7F7F !important;
        font-size: 14px;
    }  
}
}


// Style for give from modal new

.giveingGropPopupHeading{
    .giveboxheding{
        padding-bottom: 2px;
        margin: 0px;
        flex-grow: unset !important;
        p{
            font-size: 14px;
            line-height: 22px;
            font-family: 'ProximaNova-Regular';
            color: @font-color;
            font-weight: 700;
            &.rightTop{
                margin-left:28px;
            }
            &.rightbottom{
                margin-left: 15px;
                margin-top: 35px;
            }
        }
    }}
.giveingGropPopup{
    margin-bottom:5px !important;
   .ModelLeftBox{
    background-color:#F1F6FD;
    box-shadow: 0 2px 7px 0 rgba(135, 135, 135, 0.3);
    width: 100%;
    position: relative;
    &::before{
            position: absolute;
            content: "";
            right: -20px;
            border: 1px solid #EAEAEA;
            height: 100%;
            @media only screen and (max-width:991px) {
                height: 0px;
                right:0px;
            }
        }
    img{
        padding:46px  48px 30px 48px;
        @media only screen and (max-width:1199px) {
        padding:64px  48px 30px 48px;
    }
        @media only screen and (max-width:991px) {
            margin: auto;
            width:38%;
            padding: 33px 48px 25px 48px;
        }
        @media only screen and (max-width:500px) {
            margin: auto;
            width: 60%;
            padding: 33px 48px 25px 48px;
        }
    }
    .descriptiontext{
        padding: 0px 37px 46px 37px;
        text-align: center;
        font-family: 'ProximaNova-Regular';
        font-weight: 600;
        p{
        &.leftsubtext{
            font-family: 'ProximaNova-Regular';
            line-height: 15px;
            font-size: 12px;
            color: #7F7F7F;
            margin-top: 11px;
            }
        }
    }
    &:hover{
        cursor: pointer;
    }
   }
   .ModelLeftBoxTop{
    background-color:#F1F6FD;
    box-shadow: 0 2px 7px 0 rgba(135, 135, 135, 0.3);
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    &::before{
            position: absolute;
            content: "";
            right: -20px;
            border: 1px solid #EAEAEA;
            height: 100%;
            @media only screen and (max-width:991px) {
                height: 0px;
                right:0px;
            }
        }
    img{
        padding:16px  83px 16px 83px;
        @media only screen and (max-width:1199px) {
            padding:16px  83px 16px 83px;
    }
        @media only screen and (max-width:991px) {
            padding: 20px;
            width: 30%;
            margin: auto;
        }
        @media only screen and (max-width:767px) {
            padding: 20px;
            width: 30%;
            margin: auto
        }
        @media only screen and (max-width:600px) {
            padding: 20px;
            width: 60%;
            margin: auto
        }
    }
    .descriptiontext{
        padding: 0px 37px 22px 37px;
        text-align: center;
        font-family: 'ProximaNova-Regular';
        font-weight: 600;
        p{
        &.leftsubtext{
            font-family: 'ProximaNova-Regular';
            line-height: 15px;
            font-size: 12px;
            color: #7F7F7F;
            margin-top: 11px;
            }
        }
    }
    &:hover{
        cursor: pointer;
    }
   }
   .ModeLeftBoxTwo{
    position: relative;
    &::before{
            position: absolute;
            content: "";
            right: -20px;
            border: 1px solid #EAEAEA;
            height: 100%;
            @media only screen and (max-width:991px) {
                height: 0px;
                right:0px;
            }
        }
   }
   .ModelLeftBoxBottom{
    background-color:#F1F6FD;
    box-shadow: 0 2px 7px 0 rgba(135, 135, 135, 0.3);
    width: 100%;
    position: relative;        img{
            padding:16px  83px 16px 83px;
            @media only screen and (max-width:1199px) {
                padding:16px  83px 16px 83px;
        }
            @media only screen and (max-width:991px) {
                padding: 20px;
                width: 30%;
                margin: auto
            }
            @media only screen and (max-width:767px) {
                padding: 20px;
                width: 30%;
                margin: auto
            }
            @media only screen and (max-width:500px) {
                padding: 20px;
                width: 60%;
                margin: auto
            }
        }
    .descriptiontext{
        padding: 0px 37px 22px 37px;
        text-align: center;
        font-family: 'ProximaNova-Regular';
        font-weight: 600;
        p{
        &.leftsubtext{
            font-family: 'ProximaNova-Regular';
            line-height: 15px;
            font-size: 12px;
            color: #7F7F7F;
            margin-top: 11px;
            }
        }
        
    }
    &:hover{
        cursor: pointer;
    }
   }
   .rightBoxs{
    padding:11px 42px 11px 22px;
    box-shadow: 0 2px 7px 0 rgba(135,135,135,0.3);
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    margin-left: 10px;    &:last-child{
        margin-bottom:0px;
    }    img{
        width: 58px;
        height: 60px;
        object-fit: contain;
        }
        .content{
            .description{
                p{
                font-family: 'ProximaNova-Regular';
                font-weight: 600;
                }
                @media only screen and (max-width:767px) {
                   text-align: center;
                }
            }
            }
            &:hover{
                cursor: pointer;
            }
        @media only screen and (max-width:991px) {
            margin-left:0px;
            &:first-child{
                margin-top:30px;
            }
        }   }
   .graybox{
    background-color: #F8F8F8 !important;
    cursor: default !important;
    box-shadow: 0 2px 7px 0 rgba(135,135,135,0.3);
    img{
        filter: grayscale(1);
    }
    }
    p{
        &.disabled-text{
            font-family: 'ProximaNova-Regular';
            font-size: 12px;
            color: #7F7F7F;
            line-height: 15px;
            margin-top: 11px;
        }
    }
}

.dropdownSearch{
    position: relative;
    .dropdownsearchField{
        &.ui{
            &.dropdown{
                &.icon{
                    display: none;
                }
                &.search{
                    position: relative;
                    &.medium{
                        height: 48px;
                        font-size: 14px;
                        //color:#78909C;
                        line-height: 22px;
                        >.text{
                            font-size: 14px;
                            line-height: 22px;
                            //color:#78909C;
                            padding: 2px 0px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: calc(100% - 40px);
                            left:0px;
                        }
                        &.grouped{
                            .menu{
                                .item{
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: #263238;
                                    &.disabled{
                                        opacity: 1;
                                        font-size: 14px;
                                        font-family: 'ProximaNova-Regular';
                                        font-weight: 600;
                                        color:#263238;
                                        border-top: 1px solid #E9E9E9;
                                        line-height: 22px;
                                        &:hover{
                                            background-color: #fff;
                                        }
                                        &:first-child{
                                            border-top: 0px solid transparent;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .ui.search.dropdown {
        >input.search {
            top: 4px;
            left: 0px;
            font-size: 14px;
            line-height: 22px;
            color: #263238;
        }
    }
    .ui.dropdown {
        .menu {
            .active.item {
                font-weight: normal !important;
            }
        }
    }
    .ui.selection.active.dropdown{
        border: 1px solid #DDDDDD !important;
      }
      .ui.selection.active.dropdown .menu{
        border: 1px solid #DDDDDD !important;
      }
}
.dropdownWithArrowParentnotbg{
    position: relative;
    .ui.selection.dropdown {
        &.active{
            &::after{
                z-index: 99;
                transform: rotate(180deg);
            }
        }
        &::after{
            content: '';
            background-image: url(../images/icons/icon-arrow-down.svg);
            height: 7px;
            width: 13.5px;
            position: absolute;
            right: 10px;
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            transition: all 0.3s ease-out;
            z-index: 2;
            top:20px;
            filter: invert(79%) sepia(0%) saturate(1%) hue-rotate(277deg) brightness(97%) contrast(87%);
        }
        i{
            display: none;
        }
    }
}
  .ui.active.visible.fluid.search.selection.dropdown.dropdownsearchField.grouped.medium {
    padding-left:44px;
     &::before{
        content: '';
        position: absolute;
        top: 13px;
        left: 15px;
        right: 0;
        bottom: 0;
        width: 20px;
        height: 20px;
        background-image: url(../images/icons/icon-search.svg) !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        z-index: 99;
    }
  }
  .dropdownSearch.dropdownWithArrowParentnotbg .ui.selection.dropdown.active .search{
    padding-left:44px;
  }
 .give_amount .ui[class*="left icon"].input > input {
     padding-left: 2em !important;
 }
