@import "_mixins.less";
.messageMainWraper{
    padding-top: 30/@rem;
    .messageWraper{
      .messageLeftMenu{
        border-right: 1px solid @grey-lighten-2;
        .ui{
          &.icon{
            &.input{
              .search{
                &.icon{
                  &::before{
                    content: '';
                    position: absolute;
                    background-image: url('../images/icons/icon-search.svg') !important;
                    background-size: contain !important;
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    margin-right: 0px;
                    left: 12px;
                    width: 18px;
                    height: 18px;
                    top: 18px;
                  }
                }
               }
            }
          }
        }   
        .messageLeftSearch{
          padding-top: 20/@rem;
          padding-right: 1rem;
          .ui{
            &.input{
              input{
                box-shadow: 0 2px 7px 0 rgba(135,135,135,0.3);
                border-radius: 1.2rem;
                border: 1px solid #E3E8F0;
              
              }
            }
          } 
        }
        .chatList{
          margin-top: 2rem;
          //max-height: calc(657px - 89px);
          max-height: 66.8vh;
          overflow-y: scroll;
          &::-webkit-scrollbar {
            width: 6px;
          }
          &::-webkit-scrollbar-track {
              //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
              background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #ddd;
            //outline: 1px solid slategrey;
            border-radius:4px;
          }
          .ui{
            &.divided{
              &.list{
                >.item{
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                  position: relative;
                  padding-right: 3px;
                  padding-left: 3px;
                  &.active{
                    background-color: #eee;
                  }
                  .image{
                    &.ui{
                      &.avatar{
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                      }
                    }
                  }
                  .content{
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 200px;
                    &.floated{
                      &.right{
                        text-align: right;
                        .time{
                          font-size: 12px;
                          color: #78909C;
                          margin-right: 10px;
                        }
                        .iconWraper{
                          i{
                            &.mute{
                              &.icon{
                                margin-right: 10px;
                                margin-top: 2px;
                                position: relative;
                                &::before{
                                  content: '';
                                  background-image: url(../images/icons/icon-mute.svg) !important;
                                  background-size: contain !important;
                                  background-position: center !important;
                                  background-repeat: no-repeat !important;
                                  width: 18px;
                                  height: 15px;
                                  right: 0px;
                                  top: 2px;
                                  position: absolute;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                    .header{
                      color: #3D3D3D !important;
                     
                      .newMessage{
                        color: #3D3D3D !important;
                        display: inline-block;
                        padding-right: 1rem;
                        position: relative;
                        &::before{
                          content: '';
                          position: absolute;
                          right: 0;
                          width: 7px;
                          height: 7px;
                          background-color: #D0021B;
                          border-radius: 100%;
                          margin: auto;
                          top: 0;
                          bottom: 0;
                        }
                      }
                    }
                    .description{
                      padding-top: 5px;
                      width: 200px;
                      color: @grey-darken-6 !important;
                      font-size: 14px;
                      white-space: nowrap;
                      overflow: hidden !important;
                      text-overflow: ellipsis;
                      
                    }
                  }
                }
              }
            }
          }
        }
      }
      .chatHeader{
        display: list-item;
        table-layout: fixed;
        list-style-type: none;
        list-style-position: outside;
        border-bottom: 1px solid @grey-lighten-2;
        .chatWith{
          display: inline-block;
          color: #262626;	
          font-size: 16px;	
          font-weight: 600;	
          line-height: 20px;
          padding: 17px;
        }
        .chatWithGroup{
          color: #262626;	
          font-size: 16px;	
          font-weight: 600;	
          line-height: 20px;
          padding: 10px 0px 10px 17px;
          .ui{
            &.list{
              .item{
                .content{
                  &.right{
                    margin-top: -6px;
                  }
                  &.grpNameEdit{
                    position: relative;
                    .ui{
                      &.input{
                        &.disabled{
                          opacity: 1;
                          input{
                            padding: 0px;
                            border:none;
                            font-size: 16px;
                            color: @grey-darken-6;
                            padding-right: 30px;
                          }
                        }
                        input{
                          padding: 0px;
                          border-top:none;
                          border-left:none;
                          border-right:none;
                          border-radius: 0px;
                          font-size: 16px;
                          color: @grey-darken-6;
                          padding: 10px 50px 10px 10px;
                        }
                      }
                    }
                  }
                  .charCount{
                    position: absolute;
                    right: -3px;
                    bottom: 7px;
                    padding: 2px;
                    font-size: 16px;	font-weight: 600;
                    color: @grey-darken-1;
                  }
                  .ui{
                    &.button{
                      &.EditGrpName{
                        position: absolute;
                        right:-38px;
                        bottom: 0px;
                        padding: 2px;
                        margin: 0px;
                        top: 0px;
                        background-color: transparent;
                        border: 0px solid transparent;
                        .icon{
                          position: relative;
                          &.pencil{
                            &::before{
                              content: '';
                              position: absolute;
                              background-image: url('../images/icons/edit.svg') !important;
                              background-size: contain !important;
                              background-repeat: no-repeat !important;
                              background-position: center !important;
                              margin-right: 0px;
                              right: 0;
                              width: 18px;
                              height: 18px;
                            }
                          }
                        }
                        .icon{
                          &.check{
                            color: @success;
                            font-size: 20px;
                            margin: 0px;
                          }
                        }
                      }
                    }
                  }
                }
                .ui{
                  &.avatar{
                    &.image{
                      width: 40px;
                      height: 40px;
                      object-fit: cover;
                    }
                  }
                }
              }
            }
          }
        }
        .moreOption{
          float: right;
          padding: 8px 0px 0px;
        }
        &::after{
          content: '';
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
        }
      }
      .chatContent{
        padding: 0rem 0rem 1rem 1rem;
        .mesgs{
          max-height: 66vh;
          min-height: 60vh;
          height: 100%;
          overflow-y: scroll;
          padding-right: 7px;
          &::-webkit-scrollbar {
            width: 9px;
          }
          &::-webkit-scrollbar-track {
              //-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
              background-color: transparent;
          }
          &::-webkit-scrollbar-thumb {
            background-color: #D8D8D8;
            //outline: 1px solid slategrey;
            border-radius: 4.5px;	
            
          }
          .msg_history{
            .dateTime{
              text-align: center;
              color: #78909C;
              font-size: 12px;
           
            }
            .incoming_msg{
              margin: 13px 0 13px;
              .incoming_msg_img{
                width: 35px;
                height: 45px;
                display: inline-block;
                margin-right: 0.5rem;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                vertical-align: middle;
                -ms-flex-item-align: center!important;
                align-self: center!important;
              }
              .received_msg{
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                vertical-align: top;
                -ms-flex-item-align: center!important;
                align-self: center!important;
                display: inline-block;
                max-width: 85%;
                .received_withd_msg{
                  border: 0px solid transparent;
                  border-radius: 10px;
                  padding: 15px 24px;
                  background-color: #F3F3F7;
                  max-width: 80%;
                  width: 100%;
                  min-width: 100%;
                  p{
                    margin-bottom: 3px;
                  }
                }
              }
            }
            .outgoing_msg{
              overflow: hidden;
              margin: 26px 0 26px;
              .sent_msg{
                float: right;
                max-width: 70%;
                width: auto;
                padding: 15px 24px;
                border:1px solid @grey-lighten-2;
                border-radius: 10px;
                .dateTime{
                  float: right;
                  margin-bottom: -9px;
                }
                p{
                  margin-bottom: 3px;
                }
              }
            }
          }
        }
      }
      .chatFooter{
        padding: 1rem 55px 1rem 1rem;
        background-color: #F3F3F7;
        position: relative;
        button{
          &.ui{
            &.button{
              &.sendMsgBtn{
                background-color: #0CC965;
                color: #fff;
                position: absolute;
                right: -48px;
                top: 2px;
              }
            }
          }
        }
      }
    }
    .messageHeader{
      border-bottom: 1px solid @grey-lighten-2;
      .ui{
        &.header{
          @media only screen and (max-width: 767px){
            margin-bottom: -5px;
          }
        }
      }
      .compose-btn-wrapper{
        padding-top: 1rem;
      }
      button{
        &.ui{
          &.button{
            &.back-btn-messages{
              @media only screen and (max-width: 767px){
                padding: 10px 2px 10px 8px;
                width: 37px;
                text-align: center;
                border-radius: 100%;
                margin-top: -3px;
                background-color: transparent;
              }
            }
            &.success-btn-rounded-def{
              @media only screen and (max-width: 767px){
                padding: 10px 2px 10px 8px;
                width: 37px;
                text-align: center;
                border-radius: 100%;
              }
              i{
                &.icon{
                  &.edit{
                    position: relative;
                    @media only screen and (max-width: 767px){
                      margin-right: 0px;
                    }
                    &::before{
                      content: '';
                      background-image: url('../images/icons/compose.svg') !important; 
                      width: 20px;
                      height: 20px;
                      position: absolute;
                      background-size: contain !important;
                      background-repeat: no-repeat !important;
                      background-position: center !important;
                      left: -3px;
                      top: -4px;
                      filter: brightness(0) invert(1);
                       -webkit-filter: brightness(0) invert(1);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .no-messages{
    padding: 30px;
  }
  .new_members{
    border-top: 1px solid rgba(34,36,38,.15);
    color: #333333;
    	font-family: "Proxima Nova";
      font-size: 13px;	
      line-height: 24px;
      font-family: 'ProximaNova-Light';
      font-weight: 600;
      padding-top: 10px;
  }
  .description{
    .messageSearch{
      margin-bottom: 2rem;
    }
    .ui{
      &.divided{
        &.list{
          .item{
            margin: 5px 10px;
            .right{
              &.floated{
                &.content{
                  padding-top: 0px;
                  input[type='checkbox']{
                    margin-top: 15px;
                  }
                }
              }
            }
            .ui{
              &.avatar{
                &.image{
                  margin-top: 8px;
                }
              }
            }
            .content{
              padding-top: 7px;
              a{
                &.header{
                  color: #263238 !important;	font-family: "ProximaNova-Light";	font-size: 14px;	font-weight: 600;	line-height: 21px;
                }
              }
            }
          }
        }
      }
    }
  }

.aligned{
  .pb-1{
    .ui{
      &.button{
        &.red-btn-rounded-def{
          &.red{
            border-radius: 20px !important;
            @media only screen and (max-width: 767px){
              border-radius: 100% !important;
              padding: 10px 2px 10px 8px;
              width: 37px;
              text-align: center;
              .icon{
                margin-right: 2px;
              }
            }
          }
        }
      }
    } 
  }
}
button,a{
  &.ui{
    &.button{
      &.red-btn-rounded-def{
        &.red{
          border-radius: 20px !important;
          background-color: #F24040;
          border: 1px solid #F24040;
          &.c-small{
            padding: 0.5rem 1.5rem;
          }
        }
      }
    }
  } 
}
   
  @media only screen and (max-width:991px) {
    .messageMainWraper .messageWraper .messageLeftMenu .chatList .ui.divided.list > .item .content .description{
      width: auto !important;
    }
    .messageMainWraper .messageWraper .messageLeftMenu .chatList .ui.divided.list > .item .image.ui.avatar {
      width: 40px;
      height: 40px;
      float: left;
    }
    .messageMainWraper .messageWraper .messageLeftMenu .chatList .ui.divided.list > .item .content{
      max-width: 128px;
    }
  }
  @media only screen and (min-width:991px)  and (max-width:1199px){
    .messageMainWraper .messageWraper .messageLeftMenu .chatList .ui.divided.list > .item .content{
      max-width: 147px;
    }
    .messageMainWraper .messageWraper .messageLeftMenu .chatList .ui.divided.list > .item .content .description{
      width: auto !important;
    }
  }
  @media only screen and (max-width:768px) {
  .eleven.wide.computer.sixteen.wide.mobile.ten.wide.tablet.column.remove-pad-left {
    padding-right: 0px;
  }
}
